---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import { Image } from "astro:assets";
import projectData from "@/data/projectData.json";
import CardGroup from "@/components/card/CardGroup.astro";
import Card from "@/components/card/Card.astro";
import CardBody from "@/components/card/CardBody.astro";
// import CardImage from "@/components/card/CardImage.astro";
import CardHeader from "@/components/card/CardHeader.astro";
import FormattedDate from "../../src/components/FormattedDate.astro";
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";
import getSortedTags from "@/utils/getSortedTags";
import { SITE } from "@/config";
import me from "@/assets/me.jpg";

const posts = await getCollection("blog");

const tags = getSortedTags(posts).slice(0, 6);
const sortedPosts = posts
  .filter((post) => post.data.featured == true && post.data.draft != true)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);
---

<Layout title={SITE.title} description={SITE.desc}>
  <div class="wrap-sm grid gap-16 px-8 md:gap-24 lg:gap-32 mx-auto">
    <SectionContainer class="flex flex-col gap-8 mt-32">
      <Image
        src={me}
        alt="Kyle Wigley"
        width=160
        height=160
        format="webp"
        class="rounded-full h-32 w-32 bg-neutral-100 object-cover p-4"
      />
      <div class="content-container">
        <div class="max-w-[54rem] mb-8 lg:mb-4">
          <h1
            class="text-4xl lg:text-3xl font-medium leading-8 lg:leading-10 tracking-tight lg:tracking-tighter mb-0"
          >
            I&apos;m Kyle Wigley — a software engineer
          </h1>
        </div>
        <div
          class="content text-xl font-medium leading-8 lg:leading-10 tracking-tight lg:tracking-tighter text-neutral-500"
        >
          I work remotely for <a
            class="hover:underline transition hover:text-neutral-700 italic font-serif"
            href="https://pingintel.com"
            target="_blank">Ping Data Intelligence</a
          >, building tools for the commercial property insurance space. I'm a
          generalist and believe that software doesn't need to be complex in
          order to be powerful.
        </div>
      </div>
    </SectionContainer>
    <!-- Header/Hero Section -->
    <SectionContainer>
      <h2
        class="font-medium text-h4 text-neutral-500 my-4 leading-8 tracking-tighter"
      >
        Projects
      </h2>
      <CardGroup
        class="grid scroll-m-24 gap-5 grid-cols-1 md:grid-cols-2 w-full"
      >
        {
          projectData.map((project) => (
            <Card
              key={project.id}
              className="col-span-1"
              link={project.link}
              target="_blank"
            >
              <CardBody>
                {/* <CardImage */}
                {/*   src={project.logo} */}
                {/*   alt={project.shortExcerpt} */}
                {/*   imageClass="absolute top-0 right-0 m-6 p-4 bg-white rounded-3xl" */}
                {/*   width={80} */}
                {/*   height={80} */}
                {/* /> */}
                <div class="card-content absolute bottom-8 left-6 right-6">
                  <CardHeader>{project.title}</CardHeader>
                  <div class="content break-words text-3xl font-medium leading-10 tracking-tight lg:tracking-tighter text-neutral-500">
                    <p>{project.shortExcerpt}</p>
                  </div>
                </div>
              </CardBody>
            </Card>
          ))
        }
      </CardGroup>
    </SectionContainer>
    <!--  Projects Container -->
    <SectionContainer>
      <div class="flex flex-row my-4 items-center text-neutral-500">
        <h2 class="font-medium text-h4 mb-0 leading-8 tracking-tighter">
          Blogs
        </h2>
        <a href="/rss.xml"
          ><Icon name="ph:rss-duotone" class="w-6 h-6 ml-4" /></a
        >
        <a href="/blog" class="group font-medium flex no-underline ml-auto">
          View all blogs
          <Icon
            name="ph:arrow-right-light"
            class="w-6 h-6 ml-4 transition group-hover:translate-x-1 motion-reduce:transition-none motion-reduce:hover:transform-none"
          />
        </a>
      </div>

      <ul class="list-none space-y-5">
        {
          sortedPosts.length == 0 && (
            <span class="text-neutral-500">... one day</span>
          )
        }
        {
          sortedPosts.map((post) => (
            <li class="flex flex-col gap-1">
              <a
                href={`/blog/${post.slug}`}
                class="block w-full card-clip p-8 no-underline sm:flex-row sm:gap-8 bg-neutral-50 rounded-[40px] transition-all duration-300 hover:-translate-y-0.5 relative"
              >
                <span class="grid flex-1 gap-1">
                  <span class="text-neutral-900 line-clamp-1 md:inline-flex items-center">
                    <span class="inline-block font-medium">
                      {post.data.title}
                    </span>
                    <span class="md:mb-0 my-2 md:my-0 md:ml-2 text-sm w-max md:w-auto items-center rounded-full border border-neutral-300 bg-white px-1 py-[2px] font-medium text-primary-500 block md:inline-flex">
                      <span class="px-2">
                        <FormattedDate date={post.data.pubDate} />
                      </span>
                    </span>
                  </span>
                  <span class="text-neutral-500 line-clamp-2">
                    {post.data.description}
                  </span>
                </span>
              </a>
            </li>
          ))
        }
      </ul>
    </SectionContainer>
    <!-- Blog Container -->
    <SectionContainer>
      <div class="flex flex-row my-4 items-center text-neutral-500">
        <h2
          class="font-medium text-h4 text-neutral-500 leading-8 tracking-tighter mb-0"
        >
          Top Tags
        </h2>

        <a href="/tags" class="group font-medium flex no-underline ml-auto">
          View all tags
          <Icon
            name="ph:arrow-right-light"
            class="w-6 h-6 ml-4 transition group-hover:translate-x-1 motion-reduce:transition-none motion-reduce:hover:transform-none"
          />
        </a>
      </div>

      <ul class="list-none space-y-5">
        {tags.length == 0 && <span class="text-neutral-500">... one day</span>}
        {
          tags.map((tag) => (
            <li class="inline-block my-3 mx-1 underline-offset-8">
              <a
                href={`/tags/${tag.toLowerCase()}`}
                class="text-lg pr-2 flex flex-wrap items-center relative underline transition hover:-translate-y-0.5 hover:text-skin-accent focus-visible:p-1"
              >
                <Icon name="mdi:hashtag" class="w-6 h-6" />
                &nbsp;<span>{tag.toLowerCase()}</span>
              </a>
            </li>
          ))
        }
      </ul>
    </SectionContainer>
    <!-- Tags Container -->
  </div>
</Layout>
